// FOR MOBILE
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;

    margin: 1em 0.5em 5em;

    .card{
        width: 100%;
        $self:'.card';
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.6);
        
        // FOR TABLET AND DESKTOP
        @media(min-width:401px){
            width:30%;
        }
        
        &__container1{
            position: relative;
            
            #{$self}__image{
                width: 100%;         
            }
                
            #{$self}__icons{
                    
                #{$self}__icon{
                    position: absolute;
                    font-size: 1.5em;
                    padding: 0.1em 0.2em 0em;
                    color:$white;
                    background-color: rgba($color: $black, $alpha: 0.2);
                    
                    // FOR TABLET AND DESKTOP
                    @media(min-width:401px){
                        font-size: 1.2em;
                    }
                    
                    &:hover{
                        background-color: $darkYellow;
                        filter: drop-shadow(0px 0px 1px black );
                        transition: ease 0.5s;                        
                        cursor: pointer;
                    }
    
                    &:active{
                        transform: scale(0.5);
                        transition: ease 0.3s;    
                    }
                    
                }
                
                .card__icon--save{
                    border-radius: 10px 1px 10px 10px;
                    top: 0;
                    right: 0;
                }

                .card__icon--info{
                    border-radius: 1px 10px 10px;
                    top: 0;
                }
    
            }
        }
            
        &__container2{
            width: 100%;
            padding: 0.5em;
            text-align: center;
            
            #{$self}__title{
                font-size: 1.3em;
                font-weight: 400;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                color:$darkGrey;

                // FOR TABLET AND DESKTOP
                @media(min-width:401px){
                    font-size: 1em;
                }
            }

            #{$self}__text{
                font-size: 1.1em;
                padding-top: 0.3em;
                font-weight: 300;
                font-style: italic;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media(min-width:401px){
                    font-size: 0.8em;
                }
            }

        }
    }
}

// SKELETON PLACEHOLDER

.skeleton-container{
    @extend .cards;

    .skeleton{
        $self:'.skeleton';
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        padding: 0.8em;
        
        background-color: $lightGrey;
        border-radius: 0.5em;

        // animation: skeleton 3s ease-in-out infinite ;
        
        // FOR TABLET AND DESKTOP
        @media(min-width:401px){
            width:30%;
        }
        
            #{$self}__icons{
                background-color: #bbb;
                width: 100%;
                height: 18vh;
                border-radius: 0.5em;
                position: relative;
    
                #{$self}__icon{
                    position: absolute;
                    width: 10%;
                    height: 4vh;
                    padding: 1em;
                    margin:0.2em 0.3em;

                    border-radius: 50%;
                    background-color: $lightGrey;
                }
                
                #{$self}__icon--info{
                    right: 0;
                }

            }

       &__container{
            width: 100%;
        
        #{$self}__title{
            height: 5vh;
            width: 100%;
            border-radius: 0.5em;
            background-color: #bbb;
            margin-bottom: 0.2em;
        }
        #{$self}__text{
            height: 3vh;
            width: 100%;
            border-radius: 0.3em;
            background-color: #bbb;
            margin-bottom: 0.2em;
        }
       }
    }
}
