@use '../index.scss';
@use '../variables.scss' as *;
@use '../animations.scss' as *;

.random-card{
    $self:&;
    background-color: $black;
    padding: 0.3em 0.3em 0em;
    // background: linear-gradient(rgba($color: #000000, $alpha: 0.7),rgba($color:$black,$alpha: 0.1),rgba($color:$black,$alpha: 0.1),rgba($color: #000000, $alpha: 0.6));
    
    
    &__image{
        width: 100%;
        position: relative;
        opacity: 0.5;
        // z-index: -1;
    }

    &__container{
        text-align: center;
        width: 65%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        #{$self}__title{
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 1px;
            text-shadow: 0 0 5px $black;
            color: $white;
            margin-bottom: 0.5em;
            
            // osmisliti nesto drugo ?
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        
        }

        #{$self}__text{
            font-size: 0.8em;
            font-weight: 300;
            text-shadow: 0 0 5px black;
            color: $white;
            margin-bottom: 0.5em;
        }

        #{$self}__btns{

            #{$self}__btn{
                border: none;
                color: $white;
                background: $orange linear-gradient( 130deg,rgba(0,0,0,0.3),rgba(0,0,0,0.1),rgba(255,255,255,0.1));
                padding: 0.2em 0.5em;
                margin-right: 0.3em;
                border-radius: 1em;
                font-weight: 200;
                
                #{$self}__icon{
                    vertical-align: middle;
                }

                &:hover{
                    transition: 0.5s ease-in;
                    background: $orange linear-gradient( 130deg,rgba(255,255,255,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.3),);
                }
            }
        
        }

    }

}