.recipe-details{
    margin-bottom: 5em;
    
    // background-color: rgba($color: $black, $alpha: 1);
    .header{
        $self:'.header';
        // height: 40vh;

        // opacity: 0.0;
        // display: flex;
        position: relative;
        // background-color: $black;
    
        &__image{
            width: 100%;
            opacity: 0.5;
            // object-fit: cover;
        }
    
        &__container{
            width: 80%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            
            text-shadow: 0 0 10px $darkYellow;
            color: $white;
            
    
            #{$self}__title{
                font-size: 1.3em;
                font-weight: 500;
                margin-bottom: 0.2em;
            }
            
            #{$self}__text{
                font-size: 0.8em;
                font-weight: 300;
            }
        }
    }
    
    .recipe{
        padding: 0.5em;
        // background-color: rgba($color: , $alpha: 0.5);
      
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    
        &__form{
            $self:'.form';
            
            #{$self}__title{
            
            }
    
            #{$self}__label{
    
                #{$self}__checkbox{
                }
            }
        }
    }
}