.icon{
    position: fixed;
    z-index: 2;
    bottom: 2.5em;
    right: 1em;
    background-color: $lightRed;
    color: $white;
    font-size: 1.4em;
    padding: 0.5em 0.8em;
    border-radius: 50%;
    box-shadow: 0 0 10px $mediumGrey;
}
.show{
    visibility: visible;
    opacity: 1;
    animation: fade-in 0.5s ease;

    &:hover{
        transform: translate(0,-0.5em);
        transition: 0.3s ease;
        background-color: $red;
    }
    
    &:active{
        transform: scale(0.5);
        transition: 0.3s ease;
    }
}

.hide{
    visibility: hidden;
    transition: visibility 0.5s,width 0.5s,height 0.5s,padding 0.5s;
    animation: fade-out 0.5s ease;
}