
// color variables
$white:white;
$lightGrey:#eee;
$mediumGrey:#656565;
$darkGrey:#333;
$darkYellow:#fca311;
$orange:#fb8500;
$darkBlue:#14213d;
$black:black;


// // $darkBlue:#2b2d42;
// $grey:#8d99ae;
// $lightGrey:#edf2f4;
$lightRed:#ef233c;
$red:#d90429;

// $darkBlue:#728ca3;
// $pastelGreen:#0ABDA0;
// $lightBeige:#EBF2EA;
$beige:hsl(69, 42%, 76%);
// $brown:#BF9D7A;